@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Flex", sans-serif;
  /* box-sizing: border-box;
  border: 1px solid red; */
}
